#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px
}

#button {
    border: solid 1px black;
    font-size: 20px;
    box-shadow: 2px 2px rgba(0, 0, 255, 0.25);
    text-align: center;
}

#status {
    font-size: 20px;
    border: solid 1px tomato;
    text-align: center;
}

#image {
    text-align: center;
}